{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head> 
        <title>Personal Profile Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
        <link rel="stylesheet" href="{%static 'css/main.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/skins/pink.css' %}" type="text/css">

                                  <!--Live Style Switcher - Demo Only-->
        <link rel="stylesheet" class="alternate-style" title="pink" href="{% static 'css/skins/pink.css' %}" type="text/css" disabled>
        <link rel="stylesheet" class="alternate-style" title="blue" href="{% static 'css/skins/blue.css' %}" type="text/css" disabled>
        <link rel="stylesheet" class="alternate-style" title="orange" href="{% static 'css/skins/orange.css' %}" type="text/css" disabled>
        <link rel="stylesheet" class="alternate-style" title="yellow" href="{% static 'css/skins/yellow.css' %}" type="text/css" disabled>
        <link rel="stylesheet" class="alternate-style" title="green" href="{% static 'css/skins/green.css' %}" type="text/css" disabled>

        <link rel="stylesheet" href="{%static 'css/styleSwitcher.css' %}" type="text/css">
        <link rel="stylesheet" href="{%static 'testing.css' %}" type="text/css">
        <link rel="stylesheet" href="{%static 'css/tab.css' %}" type="text/css">
    </head>
   <body>
     <div class="preloaded">
        <div class="loader">

        </div>
     </div>


       <!--main-container-->  
    <div class="main-container">
          <!--Aside begins-->
          <div class="aside">
            <!--logo-->
            <div class="logo" id="logo">
            <img src="{% static 'images/profile.png' %}" alt="profile photo" style="border-radius:50%; border:5px solid white;">
              <a href="#home" class="active"><span style="color:mediumblue;">Dom</span>inic69</a>
            </div>
            <!--Nav Toggle btn-->
            <div class="nav-toggle">
                <span></span>
            </div>
            <!--Nav-->
            <ul class="nav">
            {% comment %} <li><a href="#home" class="active"><i class="fa fa-home"></i>profile</a></li> {% endcomment %}
            <li><a href="#attendance" class="active"><i class="fa fa-home"></i>Teacher</a></li>
            <li><a href="#about"><i class="fa fa-user"></i>Student</a></li>
            <li><a href="#services"><i class="fa fa-list"></i>School Material</a></li>
            <li><a href="#contact"><i class="fa fa-user"></i>None-Teaching</a></li>
            <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Other</a></li>
            <li><a href="#blog"><i class="fa fa-envelope"></i>Staff</a></li>
                        {% comment %} <li><a href="#seven"><i class="fa fa-user"></i>Tests</a></li>
            <li><a href="#eight"><i class="fa fa-list"></i>Other Records</a></li>
            <li><a href="#"><i class="fa fa-briefcase"></i>Parent Report</a></li>
            <li><a href="#"><i class="fa fa-briefcase"></i>Student {% endcomment %}         
            <li><a href="#"><i class="fa fa-envelope"></i>Logout</a></li>
            </ul>
            <!--Copyright-->
            <div class="copyright-text">
                &copy; 2021 Jascube Technologies 
            </div>

        </div>
        <!--Aside ends-->

        <!--Main content-->
        <div class="main-content">
          <!--Home Section-->
          <section class="home section active" id="home">
            <div class="container" >
              <div class="intro">
                <h1 id="wel">Welcome Dominic69</h1>
                  <div class="tsaprofile">
                    <img src="{% static 'images/profile.png' %}">
                    <p>DOMINIC TORRETO</P>
                    <p>dominic@gmail.com</P>
                    <p>04-765498</P>
                  </div>
              </div>
            </div>
          </section>
                <!--Home Section End-->
                
          <section class="about section" id="attendance">
            <div class="container" style="padding-top: 5px;">
              <div class="row">
                <div class="portfolio-filter padd-15">
                    <div class="table-container" style="width:75vw;">
                      <div class="search">
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
                      </div>
                      <table>
                        {% for x in teacher_data %}
                          <thead>
                              <tr>
                                  <th>Id</th>
                                  <th>FirstName</th>
                                  <th>Phone</th>
                                  <th>Email</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <!-- Add rows here -->
                              <tr>
                                  <td>{{ id }}</td>
                                  <td>{{ teacher_data.Firstname }}{{ teacher_data.Lastname }}</td>
                                  <td></td>
                                  <td>{{ teacher_data.Email }}</td>
                                  <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                              </tr>
                              <!-- Add more rows as needed -->
                          </tbody>
                      </table>
                      <button id="add" ><a href="vice-principal/teacher_register">Add</a></button>
                  </div>
                </div>
                    <!-- portfolio Item Ends -->
              </div>                    
            </div>
          </section>  


            <section class="about section" id="about">
              <div class="container" style="padding:0;">
                    <div class="row" style="margin-top: 0; padding:0;">
                      <div class="cardss" style="background-color: inherit; margin-top:0; padding:0;">
                        <div class="jssone">
                          <a href="#">
                          <div class="contain">
                            <h1>JSS</h1>
                            <h2>1</h2>
                          </div>
                          </a>   
                        </div>
        
                         <div class="jsstwo"><a href="#">
                            <div class="contain">
                              <h1>JSS</h1>
                              <h2>2</h2>
                            </div>
                            </a>   
                          </div>
        
                          <div class="jssthree"><a href="#">
                            <div class="contain">
                              <h1>JSS</h1>
                              <h2>3</h2>
                            </div>
                            </a>   
                          </div>     
                           
                          <div class="ssone"><a href="#">
                            <div class="contain">
                              <h1>SS</h1>
                              <h2>1</h2>
                            </div>
                            </a>   
                          </div>  
        
                          <div class="sstwo"><a href="#">
                            <div class="contain">
                              <h1>SS</h1>
                              <h2>2</h2>
                            </div>
                            </a>   
                          </div>  
        
                          <div class="ssthree"><a href="#">
                            <div class="contain">
                              <h1>SS</h1>
                              <h2>3</h2>
                            </div>
                            </a>   
                           </div>  
                          </div>
                          
                          
                          <div class="table-container t-c" style="width:75vw; margin-top:20px; background-color:inherit">
                            <div class="search">
                              <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Add rows here -->
                                    <tr>
                                        <td>001</td>
                                        <td>Dominic Stallone</td>
                                        <td>05-876545</td>
                                        <td>dom@gmail.com</td>
                                        <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                                    </tr>
                                    <tr>
                                        <td>002</td>
                                        <td>Torreto Sylvester</td>
                                        <td>01-098765</td>
                                        <td>retto@gmail.com</td>
                                        <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                                    </tr>
                                    <!-- Add more rows as needed -->
                                </tbody>
                            </table>
                            <button id="add"><a href="vice-principal/student_register">Add</a></button>
                        </div>
                      <!--Service Item Ends-->
                    </div>
              </div>
          </section>

                
                <!--About Section Begins-->

                <!--About Section Ends-->

                <!--Service Section Begins-->
            <section class="service section" id="services">
                <div class="container">
                      <div class="row">

                        <div class="material">
                          <div class="mats">
                            <label>Class Room</label>
                            <input type="text" name="text" required> <button type="submit">Submit</button>
                          </div>
                          <div class="matx">
                            <label>Chairs</label>
                            <input type="file" name="file" required> <button type="submit">Import</button>
                          </div>
                          <div class="mats">
                            <label>School Bus</label>
                            <input type="text" name="text" required> <button type="submit">Submit</button>
                          </div>
                          <div class="matx">
                            <label>Student</label>
                            <input type="file" name="file" required> <button type="submit">Import</button>
                          </div>
                          <div class="matx">
                            <label>Staff</label>
                            <input type="file" name="file" required> <button type="submit">Import</button>
                          </div>
                          
                        </div>
                              
                        <!--Service Item Ends-->
                      </div>
                </div>
            </section>
                <!--Service Section Ends-->

            <!--Portfolio Section Begins-->
              <section class="portfolio section" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="portfolio-filter padd-15">
                          <div class="exam">
                        
                            <input type="file" id="file-input" class="file-input"/>
                            <button id="import-btn" class="btn">Import</button>

                          </div>

                    </div>

                    <!-- portfolio Item Ends -->
                  </div>
                    
                  </div>
            </section>  
            <!--Portfolio Section Ends-->  


            <!--Blog section begins-->
            <section class="blog section" id="blog">
                <div class="container">
                    <div class="row">
                      
                      <div class="table-container t-c" style="width:75vw; margin-top:20px; background-color:inherit">
                        <div class="search">
                          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Add rows here -->
                                <tr>
                                    <td>001</td>
                                    <td>Dominic Stallone</td>
                                    <td>05-876545</td>
                                    <td>dom@gmail.com</td>
                                    <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                                </tr>
                                <tr>
                                    <td>002</td>
                                    <td>Torreto Sylvester</td>
                                    <td>01-098765</td>
                                    <td>retto@gmail.com</td>
                                    <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                                </tr>
                                <!-- Add more rows as needed -->
                            </tbody>
                        </table>
                        <button id="add">Add</button>
                    </div>

                          <!-- Blog content Ends -->
                    </div>
                </div>
            </section>
            <!--Blog Section Ends-->

            <!--Contact Section Begins-->
                        <!--Blog section begins-->
                        <section class="contact section" id="contact">
                        <div class="container" style="padding:0;">
                            <div class="row">
                              <div class="table-container t-c" style="width:75vw; background-color:inherit">
                                <div class="search">
                                  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Add rows here -->
                                        <tr>
                                            <td>001</td>
                                            <td>Dominic Stallone</td>
                                            <td>05-876545</td>
                                            <td>dom@gmail.com</td>
                                            <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td>002</td>
                                            <td>Torreto Sylvester</td>
                                            <td>01-098765</td>
                                            <td>retto@gmail.com</td>
                                            <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                                        </tr>
                                        <!-- Add more rows as needed -->
                                    </tbody>
                                </table>
                                <button id="add">Add</button>
                            </div>


        
                                  <!-- Blog content Ends -->
                            </div>
                        </div>
                    </section>
                    <!--Blog Section Ends-->
        
            <!--Contact Section ends-->


                        <!--Blog section begins-->
                        <section class="blog section" id="seven">
                          <div class="container">
                              <div class="row">
                                

                                <div class="table-container t-c" style="width:75vw; margin-top:20px; background-color:inherit">
                                  <h2>ALL STAFF</h2>
                                  <div class="search">
                                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
                                  </div>
                                  <table>
                                      <thead>
                                          <tr>
                                              <th>Id</th>
                                              <th>Name</th>
                                              <th>Phone</th>
                                              <th>Email</th>
                                              <th></th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <!-- Add rows here -->
                                          <tr>
                                              <td>001</td>
                                              <td>Dominic Stallone</td>
                                              <td>05-876545</td>
                                              <td>dom@gmail.com</td>
                                              <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                                          </tr>
                                          <tr>
                                              <td>002</td>
                                              <td>Torreto Sylvester</td>
                                              <td>01-098765</td>
                                              <td>retto@gmail.com</td>
                                              <td id="edd" style="font-size: medium;"><a  href="">Edit</a>   <a  href="">Disable</a> <a  href="">Delete</a></td>
                                          </tr>
                                          <!-- Add more rows as needed -->
                                      </tbody>
                                  </table>
                                  <button id="add">Add</button>
                              </div>
          
                                    <!-- Blog content Ends -->
                              </div>
                          </div>
                      </section>
                      <!--Blog Section Ends-->

                                  <!--Blog section begins-->
            <section class="blog section" id="eight">
              <div class="container">
                  <div class="row">
                    
                    <div class="container">
                      <label for="perfect-textarea">Your Message:</label>
                      <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                  </div>

                    <div class="container">
                      <input type="file" id="file-input" class="file-input" style="display: none;" />
                      <button id="import-btn" class="btn">Import</button>

                        <!-- Blog content Ends -->
                  </div>
              </div>
          </section>
          <!--Blog Section Ends-->

          
                      <!--Blog section begins-->
                      <section class="blog section" id="nine">
                        <div class="container">
                            <div class="row">
                              
                              <div class="container">
                                <label for="perfect-textarea">Your Message:</label>
                                <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                            </div>
        
                              <div class="container">
                                <input type="file" id="file-input" class="file-input" style="display: none;" />
                                <button id="import-btn" class="btn">Import</button>
        
                                  <!-- Blog content Ends -->
                            </div>
                        </div>
                    </section>
                    <!--Blog Section Ends-->
        

                                <!--Blog section begins-->
            <section class="blog section" id="ten">
              <div class="container">
                  <div class="row">
                    
                    <div class="container">
                      <label for="perfect-textarea">Your Message:</label>
                      <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                  </div>

                    <div class="container">
                      <input type="file" id="file-input" class="file-input" style="display: none;" />
                      <button id="import-btn" class="btn">Import</button>

                        <!-- Blog content Ends -->
                  </div>
              </div>
          </section>
        <!--Blog Section Ends-->


       
      </div>
      <!--Main content ends-->
    </div>
       <!--main-container ends-->

<!-- Lightbox begins-->
<div class="lightbox">
  <div class="lightbox-content">
    <div class="lightbox-close">&times;</div>
    <img src="images/portfolio/1a.png" class="lightbox-img" onclick="nextItem()">
    <div class="lightbox-caption">
      <div class="caption-text">Web Design</div>
      <div class="caption-counter"></div>
   </div>
  </div>
  <div class="lightbox-controls">
    <div class="prev-item" onclick="prevItem"><i class="fa fa-angle-left"></i></div>
    <div class="next-item" onclick="nextItem"><i class="fa fa-angle-right"></i></div>
  </div>
</div>
<!-- Lightbox ends-->

<!--Live Switcher begins-->
<div class="style-switcher">
  <div class="toggle-style-switcher">
    <i class="fa fa-cog fa-spin" ></i>
  </div>
  <h5>Style Switcher</h5>
  <ul>
    <li><a href="Javascript:void(0);" title="pink" style="background-color: #ec1839" onclick="setActiveStyle('pink')"></a></li>
    <li><a href="Javascript:void(0);" title="blue" style="background-color: #2196f3" onclick="setActiveStyle('blue')"></a></li>
    <li><a href="Javascript:void(0);" title="orange" style="background-color: #fa5b0f" onclick="setActiveStyle('orange')"></a></li>
    <li><a href="Javascript:void(0);" title="yellow" style="background-color: #ffb400" onclick="setActiveStyle('yellow')"></a></li>
    <li><a href="Javascript:void(0);" title="green" style="background-color: #72b626" onclick="setActiveStyle('green')"></a></li>
  </ul>
  <h5>Body Skin</h5>
  <label>
    <input type="radio" class="body-skin" name="body-style" value="light" checked="true">
    Light
  </label>
  <input type="radio" class="body-skin" name="body-style" value="dark">
    Dark
  </label>
</div>
<!--Live Switcher end-->

<!--Javascript Template-->
<script src="{% static 'js/script.js' %}"></script>

<!-- styleSwitcher Javascript -->
<script src="{% static 'js/styleSwitcher.js' %}"></script>
<script src="{% static 'script.js' %}"></script>


</body>
</html>
