<h2>{{ student.firstname }} {{ student.lastname }}</h2>
<p><strong>Email:</strong> {{ student.email }}</p>
<p><strong>Assigned Class:</strong> {{ teacher.class_level }}</p>
<p><strong>Mobile:</strong> {{ student.mobile }}</p>
<p><strong>Gender:</strong> {{ student.gender}}</p>
<p><strong>Address:</strong> {{ student.address }}</p>

<form method="POST" action="{% url 'update_student' student.id %}">
    {% csrf_token %}
    <label for="firstname">Email:</label>
    <input type="text" id="firstname" name="firstname" value="{{ student.firstname }}"><br>
    
    <label for="middlename">Mobile:</label>
    <input type="text" id="middlename" name="middlename" value="{{ student.middlename}}"><br>
    
    <label for="lastname">Mobile:</label>
    <input type="text" id="lastname" name="lastname" value="{{ student.lastname}}"><br>

    <label for="username">Email:</label>
    <input type="text" id="username" name="username" value="{{ student.username }}"><br>
    
    <label for="mobile">Mobile:</label>
    <input type="text" id="mobile" name="mobile" value="{{ student.mobile }}"><br>
    
    <label for="address">Address:</label>
    <textarea id="address" name="address">{{ student.address }}</textarea><br>
    
    <button type="submit">Update</button>
</form>
