{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head> 
        <title>Personal Profile Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{%static 'css/styles.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/skins/pink.css' %}" type="text/css">

                                  <!--Live Style Switcher - Demo Only-->
        <link rel="stylesheet" class="alternate-style" title="pink" href="{% static 'css/skins/pink.css' %}" type="text/css" disabled>
        <link rel="stylesheet" class="alternate-style" title="blue" href="{% static 'css/skins/blue.css' %}" type="text/css" disabled>
        <link rel="stylesheet" class="alternate-style" title="orange" href="{% static 'css/skins/orange.css' %}" type="text/css" disabled>
        <link rel="stylesheet" class="alternate-style" title="yellow" href="{% static 'css/skins/yellow.css' %}" type="text/css" disabled>
        <link rel="stylesheet" class="alternate-style" title="green" href="{% static 'css/skins/green.css' %}" type="text/css" disabled>

        <link rel="stylesheet" href="{%static 'css/styleSwitcher.css' %}" type="text/css">


    </head>
   <body>
     <div class="preloaded">
        <div class="loader">

        </div>
     </div>


       <!--main-container-->  
       <div class="main-container">
          <!--Aside begins-->
           <div class="aside">
               <!--logo-->
               <div class="logo">
                <img src="{% static 'profile.png' %}" alt="profile photo">
                   <a href="#"> John ADEYEMI</a> 
               </div>
               <!--Nav Toggle btn-->
               <div class="nav-toggle">
                   <span></span>
               </div>
               <!--Nav-->
               <ul class="nav">
                <li><a href="#home" class="active"><i class="fa fa-home"></i>profile</a></li>
                <li><a href="#attendance" class="active"><i class="fa fa-home"></i>Attendance</a></li>
                <li><a href="#about"><i class="fa fa-user"></i>Notification</a></li>
                <li><a href="#services"><i class="fa fa-list"></i>Memo</a></li>
                <li><a href="#portfolio"><i class="fa fa-briefcase"></i>Assignment</a></li>
                <li><a href="#blog"><i class="fa fa-envelope"></i>Report</a></li>
                <li><a href="#contact"><i class="fa fa-user"></i>Test C A</a></li>
                <li><a href="#seven"><i class="fa fa-user"></i>Examination</a></li>
                <li><a href="#eight"><i class="fa fa-list"></i>Result</a></li>
                <li><a href="#nine"><i class="fa fa-briefcase"></i>Loan</a></li>
                <li><a href="#ten"><i class="fa fa-envelope"></i>Logout</a></li>
               </ul>
               <!--Copyright-->
               <div class="copyright-text">
                    &copy; 2021 Jascube Technologies 
               </div>

           </div>
           <!--Aside ends-->

           <!--Main content-->
           <div class="main-content">
               <!--Home Section-->

               <section class="home section active" id="home">
                <div class="container">
                    <div class="intro">
                      <h1>THis is profile</h1>
                    </div>
                </div>
              </section>
               <!--Home Section End-->
               
               <section class="about section" id="attendance">
                <div class="container">
                    <div class="row">
                        <div class="portfolio-filter padd-15">
                          <div class="table-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Student Name</th>
                                        <th>Wk 1</th>
                                        <th>Wk 2</th>
                                        <th>Wk 3</th>
                                        <th>Wk 4</th>
                                        <th>Wk 5</th>
                                        <th>Wk 6</th>
                                        <th>Wk 7</th>
                                        <th>Wk 8</th>
                                        <th>Wk 9</th>
                                        <th>Wk 10</th>
                                        <th>Wk 11</th>
                                        <th>Wk 12</th>
                                        <th>Wk 13</th>
                                        <th>Wk 14</th>
    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="td">
                                        <td>001</td>
                                        <td>Student 1</td>
                                        <td id="td">
                                              <label><input type="checkbox" name="student1_week1_mon"></label>
                                              <label><input type="checkbox" name="student1_week1_tue"></label>
                                              <label><input type="checkbox" name="student1_week1_wed"></label>
                                              <label><input type="checkbox" name="student1_week1_thu"></label>
                                              <label><input type="checkbox" name="student1_week1_fri"></label>
                                          
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" name="student1_week2_mon"></label>
                                            <label><input type="checkbox" name="student1_week2_tue"></label>
                                            <label><input type="checkbox" name="student1_week2_wed"></label>
                                            <label><input type="checkbox" name="student1_week2_thu"></label>
                                            <label><input type="checkbox" name="student1_week2_fri"></label>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div>
  
                    </div>

                    <!-- portfolio Item Ends -->
                  </div>
                    
                  </div>
            </section>  


            <section class="about section" id="about">
              <div class="container">
                    <div class="row">
                      <h1>This is notifications Page</h1>                            
                      <!--Service Item Ends-->
                    </div>
              </div>
          </section>

               
               <!--About Section Begins-->

               <!--About Section Ends-->

               <!--Service Section Begins-->
           <section class="service section" id="services">
                <div class="container">
                      <div class="row">
                        <div class="container">
                          <label for="perfect-textarea"></label>
                          <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                      </div>
  
                        <div class="container">
                          <input type="file" id="file-input" class="file-input" style="display: none;" />
                          <button id="import-btn" class="btn">Import</button>
                              
                        <!--Service Item Ends-->
                      </div>
                </div>
            </section>
               <!--Service Section Ends-->

            <!--Portfolio Section Begins-->
             <section class="portfolio section" id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="portfolio-filter padd-15">
                          <div class="assign">
                            <label for="perfect-textarea"></label>
                            <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>

                            <div class="checkbox-container"> 
                              <label for="myCheckbox"> 
                                <input type="checkbox" id="myCheckbox" name="myCheckbox"> Select all </label>
                            </div>

                            <div class="checkbox-container"> 
                              <label for="myCheckbox"> 
                                <input type="checkbox" id="myCheckbox" name="myCheckbox"> Some</label>
                            </div>

                        </div>
  
                    </div>

                    <!-- portfolio Item Ends -->
                  </div>
                    
                  </div>
            </section>  
            <!--Portfolio Section Ends-->  


            <!--Blog section begins-->
            <section class="blog section" id="blog">
                <div class="container">
                    <div class="row">
                      
                      <div class="container">
                        <label for="perfect-textarea">Your Message:</label>
                        <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                    </div>

                      <div class="container">
                        <input type="file" id="file-input" class="file-input" style="display: none;" />
                        <button id="import-btn" class="btn">Import</button>

                          <!-- Blog content Ends -->
                    </div>
                </div>
            </section>
            <!--Blog Section Ends-->

            <!--Contact Section Begins-->
                       <!--Blog section begins-->
                       <section class="contact section" id="contact">
                        <div class="container">
                            <div class="row">

                              <div class="table-container">
                                  <table>
                                    <h3>CA 1</h3>
                                      <thead>
                                          <tr>
                                              <th>Student Name</th>
                                              <th>Class Activities</th>
                                              <th>Punctuality</th>
                                              <th>Test1</th>
                                              <th>Test2</th>
                                              <th>Test3</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <!-- Add rows here -->
                                          <tr>
                                              <td>Dominic</td>
                                              <td>Activity 1</td>
                                              <td>On Time</td>
                                              <td>85</td>
                                              <td>90</td>
                                              <td>88</td>
                                          </tr>
                                          <tr>
                                              <td>Lunar</td>
                                              <td>Activity 2</td>
                                              <td>Late</td>
                                              <td>78</td>
                                              <td>84</td>
                                              <td>80</td>
                                          </tr>
                                          <!-- Add more rows as needed -->
                                      </tbody>
                                  </table>
                              </div>

                              <div class="table-container">
                                  <table>
                                    <h3>CA 2</h3>
                                      <thead>
                                          <tr>
                                              <th>Student Name</th>
                                              <th>Class Activities</th>
                                              <th>Punctuality</th>
                                              <th>Test1</th>
                                              <th>Test2</th>
                                              <th>Test3</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <!-- Add rows here -->
                                          <tr>
                                              <td>Dominic</td>
                                              <td>Activity 1</td>
                                              <td>On Time</td>
                                              <td>85</td>
                                              <td>90</td>
                                              <td>88</td>
                                          </tr>
                                          <tr>
                                              <td>Lunar</td>
                                              <td>Activity 2</td>
                                              <td>Late</td>
                                              <td>78</td>
                                              <td>84</td>
                                              <td>80</td>
                                          </tr>
                                          <!-- Add more rows as needed -->
                                      </tbody>
                                  </table>
                              </div>

                              <div class="table-container">
                                  <table>
                                    <h3>CA 3</h3>
                                      <thead>
                                          <tr>
                                              <th>Student Name</th>
                                              <th>Class Activities</th>
                                              <th>Punctuality</th>
                                              <th>Test1</th>
                                              <th>Test2</th>
                                              <th>Test3</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <!-- Add rows here -->
                                          <tr>
                                              <td>Dominic</td>
                                              <td>Activity 1</td>
                                              <td>On Time</td>
                                              <td>85</td>
                                              <td>90</td>
                                              <td>88</td>
                                          </tr>
                                          <tr>
                                              <td>Lunar</td>
                                              <td>Activity 2</td>
                                              <td>Late</td>
                                              <td>78</td>
                                              <td>84</td>
                                              <td>80</td>
                                          </tr>
                                          <!-- Add more rows as needed -->
                                      </tbody>
                                  </table>
                              </div>


        
                                  <!-- Blog content Ends -->
                            </div>
                        </div>
                    </section>
                    <!--Blog Section Ends-->
        
            <!--Contact Section ends-->


                        <!--Blog section begins-->
                        <section class="blog section" id="seven">
                          <div class="container">
                              <div class="row">
                                
                                <div class="exam">
                                  <label for="perfect-textarea"></label>
                                  <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                              
                                  <input type="file" id="file-input" class="file-input" style="display: none;" />
                                  <button id="import-btn" class="btn">Import</button>

                                  <button id="submit">Submit</button>
                                </div>
          
                                    <!-- Blog content Ends -->
                              </div>
                          </div>
                      </section>
                      <!--Blog Section Ends-->

                                  <!--Blog section begins-->
            <section class="blog section" id="eight">
              <div class="container">
                  <div class="row">
                    
                    <div class="container">
                      <label for="perfect-textarea">Your Message:</label>
                      <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                  </div>

                    <div class="container">
                      <input type="file" id="file-input" class="file-input" style="display: none;" />
                      <button id="import-btn" class="btn">Import</button>

                        <!-- Blog content Ends -->
                  </div>
              </div>
          </section>
          <!--Blog Section Ends-->

          
                      <!--Blog section begins-->
                      <section class="blog section" id="nine">
                        <div class="container">
                            <div class="row">
                              
                              <div class="container">
                                <label for="perfect-textarea">Your Message:</label>
                                <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                            </div>
        
                              <div class="container">
                                <input type="file" id="file-input" class="file-input" style="display: none;" />
                                <button id="import-btn" class="btn">Import</button>
        
                                  <!-- Blog content Ends -->
                            </div>
                        </div>
                    </section>
                    <!--Blog Section Ends-->
        

                                <!--Blog section begins-->
            <section class="blog section" id="ten">
              <div class="container">
                  <div class="row">
                    
                    <div class="container">
                      <label for="perfect-textarea">Your Message:</label>
                      <textarea id="perfect-textarea" name="message" rows="10" cols="30" placeholder="Enter your text here..."></textarea>
                  </div>

                    <div class="container">
                      <input type="file" id="file-input" class="file-input" style="display: none;" />
                      <button id="import-btn" class="btn">Import</button>

                        <!-- Blog content Ends -->
                  </div>
              </div>
          </section>
          <!--Blog Section Ends-->


            
           </div>
           <!--Main content ends-->
       </div>
       <!--main-container ends-->

<!-- Lightbox begins-->
<div class="lightbox">
  <div class="lightbox-content">
    <div class="lightbox-close">&times;</div>
    <img src="images/portfolio/1a.png" class="lightbox-img" onclick="nextItem()">
    <div class="lightbox-caption">
      <div class="caption-text">Web Design</div>
      <div class="caption-counter"></div>
   </div>
  </div>
  <div class="lightbox-controls">
    <div class="prev-item" onclick="prevItem"><i class="fa fa-angle-left"></i></div>
    <div class="next-item" onclick="nextItem"><i class="fa fa-angle-right"></i></div>
  </div>
</div>
<!-- Lightbox ends-->

<!--Live Switcher begins-->
<div class="style-switcher">
  <div class="toggle-style-switcher">
    <i class="fa fa-cog fa-spin" ></i>
  </div>
  <h5>Style Switcher</h5>
  <ul>
    <li><a href="Javascript:void(0);" title="pink" style="background-color: #ec1839" onclick="setActiveStyle('pink')"></a></li>
    <li><a href="Javascript:void(0);" title="blue" style="background-color: #2196f3" onclick="setActiveStyle('blue')"></a></li>
    <li><a href="Javascript:void(0);" title="orange" style="background-color: #fa5b0f" onclick="setActiveStyle('orange')"></a></li>
    <li><a href="Javascript:void(0);" title="yellow" style="background-color: #ffb400" onclick="setActiveStyle('yellow')"></a></li>
    <li><a href="Javascript:void(0);" title="green" style="background-color: #72b626" onclick="setActiveStyle('green')"></a></li>
  </ul>
  <h5>Body Skin</h5>
  <label>
    <input type="radio" class="body-skin" name="body-style" value="light" checked="true">
    Light
  </label>
  <input type="radio" class="body-skin" name="body-style" value="dark">
    Dark
  </label>
</div>
<!--Live Switcher end-->

<!--Javascript Template-->
<script src="{% static 'js/script.js' %}"></script>

<!-- styleSwitcher Javascript -->
<script src="{% static 'js/styleSwitcher.js' %}"></script>
</body>
</html>
